{% trans_default_domain 'cocorico_dispute' %}

{% if type == 'defer' %}
    <a href="{{ path('cocorico_dispute_dashboard_booking_edit_asker', { 'id': booking.id}) }}"
       class="btn btn-warning form-btn"
       data-toggle="modal" data-target="#modal">
        {{ 'booking.show_asker.defer'|trans }}
    </a>
{% elseif type == 'dispute' %}
    <a href="{{ path('cocorico_dispute_dashboard_booking_edit_asker', { 'id': booking.id}) }}"
       class="btn btn-danger form-btn"
       data-toggle="modal" data-target="#modal">
        {{ 'booking.show_asker.dispute'|trans }}
    </a>
{% endif %}
