{% trans_default_domain 'cocorico_balance' %}

{{ form_start(form) }}
<div class="btns-area">
    <button type="submit" class="btn btn-primary">
        {{ 'booking.new.pay.submit'|trans }}
    </button>
</div>
{{ form_end(form) }}
