#Define here services you want to add
services:
    cocorico_elasticsearch.listing_indexer:
        class: Override\ElasticsearchBundle\Indexer\ListingIndexer
        arguments:
            - "@doctrine.orm.entity_manager"
        tags:
            - { name: cocorico_elasticsearch.indexer, alias: listing }

    cocorico_elasticsearch.listing_repository:
        class: Override\ElasticsearchBundle\Repository\ListingRepository
        arguments:
            - "@cocorico_elasticsearch.listing_indexer"
            - "@fos_elastica.finder.cocorico.listing"
            - "%cocorico.locales%"
        tags:
            - { name: cocorico_elasticsearch.repository}