imports:
    - { resource: "@CocoricoCoreBundle/Resources/config/parameters.yml"}
    - { resource: "@CocoricoExperimentBundle/Resources/config/parameters.yml"}
    - { resource: "@CocoricoDisputeBundle/Resources/config/parameters.yml"}
    - { resource: "@CocoricoBalanceBundle/Resources/config/parameters.yml"}
    - { resource: parameters.yml }
    - { resource: security.yml }
    - { resource: "@CocoricoCoreBundle/Resources/config/config.yml"}
    - { resource: "@CocoricoUserBundle/Resources/config/config.yml"}
    - { resource: "@CocoricoMessageBundle/Resources/config/config.yml"}
    - { resource: "@CocoricoGeoBundle/Resources/config/config.yml"}
    - { resource: "@CocoricoBreadcrumbBundle/Resources/config/config.yml"}
    - { resource: "@CocoricoPageBundle/Resources/config/config.yml"}
    - { resource: "@CocoricoConfigBundle/Resources/config/config.yml"}
    - { resource: "@CocoricoMangoPayBundle/Resources/config/config.yml"}
    - { resource: "@CocoricoReportBundle/Resources/config/config.yml"}
    - { resource: "@CocoricoExperimentBundle/Resources/config/config.yml"}
    - { resource: "@CocoricoElasticsearchBundle/Resources/config/config.yml"}


    - { resource: "override/services.yml"}

parameters:
    #Elasticsearch
    cocorico_elasticsearch.keyword_delimiter: " "
    cocorico_elasticsearch.limit_results: 2000
    cocorico_elasticsearch.listing_title_boost: 10
    cocorico_elasticsearch.listing_keywords_boost: 20
    cocorico_elasticsearch.listing_description_boost: 5
    cocorico_elasticsearch.listing_category_names_boost: 5
    cocorico_elasticsearch.listing_user_description_boost: 0

framework:
    #esi:             ~
    translator:      { fallback: "%cocorico.locale%" }
    secret:          "%secret%"
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: ~
    form:            ~
    csrf_protection: ~
    validation:      { enable_annotations: true }
    #serializer:      { enable_annotations: true }
    templating:
        engines: ['twig']
        #assets_version: SomeVersionScheme
    default_locale:  "%cocorico.locale%"
    trusted_hosts:   ~
    trusted_proxies: ~
    session:
        # handler_id set to null will use default session handler from php.ini
        handler_id:  ~
        name: _csess
        #on debian there is a /etc/cron.d/php5 doing the job
        gc_probability: 0 #todo check in prod
    fragments:       ~
    http_method_override: true


# Twig Configuration
twig:
    debug:            "%kernel.debug%"
    strict_variables: "%kernel.debug%"

# Assetic Configuration
assetic:
    debug:          "%kernel.debug%"
    use_controller:
        enabled:    false

    #java: /usr/bin/java
    filters:
        cssrewrite: ~
        minifycsscompressor: ~
        jsqueeze: ~
#        jsminplus: ~
#        closure:
#            jar: "%kernel.root_dir%/Resources/java/compiler.jar"
#        yui_css:
#            jar: "%kernel.root_dir%/Resources/java/yuicompressor-2.4.7.jar"
#    workers:
#        cache_busting:
#            enabled: true

# Doctrine Configuration
doctrine:
    dbal:
        driver:   pdo_mysql
        host:     "%database_host%"
        port:     "%database_port%"
        dbname:   "%database_name%"
        user:     "%database_user%"
        password: "%database_password%"
        charset:  UTF8

    orm:
        auto_generate_proxy_classes: "%kernel.debug%"
#        naming_strategy: doctrine.orm.naming_strategy.underscore
        auto_mapping: true

doctrine_mongodb:
    connections:
        default:
            server: "%mongodb_server%"
            options: {}
    default_database: "%mongodb_database_name%"
    document_managers:
        default:
            auto_mapping: true


# Swiftmailer Configuration
swiftmailer:
    transport: "%mailer_transport%"
    host:      "%mailer_host%"
    username:  "%mailer_user%"
    password:  "%mailer_password%"
    port:      "%mailer_port%"
    spool:     { type: memory }
    encryption: tls
    auth_mode: login


doctrine_migrations:
    dir_name: "%kernel.root_dir%/DoctrineMigrations"
    namespace: Application\Migrations
    table_name: migration_versions
    name: Application Migrations

fos_elastica:
    clients:
        default:
            host: "%cocorico_elasticsearch.host%"
            port: "%cocorico_elasticsearch.port%"
    indexes:
        cocorico:
            index_name: "%cocorico_elasticsearch.index_name%"
            client: default
            types:
                listing:
                    persistence:
                        driver: orm
                        model:  Cocorico\CoreBundle\Entity\Listing
                        finder: ~
                        provider: ~
                        listener: ~
                        elastica_to_model_transformer:
                            ignore_missing: true
            settings:
                index:
                    analysis:
                        analyzer:
                            text_en:
                                tokenizer: standard
                                filter: ["english_possessive_stemmer", "lowercase", "english_stop", "english_stemmer", "custom_synonym"]
                            text_fr:
                                tokenizer: standard
                                filter: ["french_elision", "lowercase", "french_stop", "french_stemmer", "custom_synonym"]
                            keywords_en:
                                tokenizer: standard
                                filter: ["lowercase", "english_stop"]
                            keywords_fr:
                                tokenizer: standard
                                filter: ["lowercase", "french_stop"]
                        filter:
                            english_possessive_stemmer:
                                type: stemmer
                                language: "possessive_english"
                            english_stop:
                                type: stop
                                stopwords: _english_
                            english_stemmer:
                                type: stemmer
                                language: "light_english"
                            french_elision:
                                type: elision
                                articles_case: true
                                articles: ["l", "m", "t", "qu", "n", "s", "j", "d", "c", "jusqu", "quoiqu", "lorsqu", "puisqu"]
                            french_stop:
                                type: stop
                                stopwords: _french_
                            french_stemmer:
                                type: stemmer
                                language: "minimal_french"
                            custom_synonym:
                                type: synonym
                                synonyms: [""]
