{% if object.status == BookingConstants.STATUS_DISPUTED_ASKER and not object.validated %}
    <div class="btn-group">
        <a href="{{ admin.generateObjectUrl('cancel', object) }}" class="btn btn-danger">
            <i class="fa fa-times"></i>
            {{ 'admin.booking.cancel.action'|trans({}, 'SonataAdminBundle') }}
        </a>
        <a href="{{ admin.generateObjectUrl('validate', object) }}" class="btn btn-warning">
            <i class="fa fa-check"></i>
            {{ 'admin.booking.validate.action'|trans({}, 'SonataAdminBundle') }}
        </a>
    </div>
{% endif %}