{% trans_default_domain 'cocorico_listing' %}

<div id="listing-category" class="form-selection form-inner-small">
    <h2>{{ 'listing.search.first.step'|trans }}</h2>
    <div class="selection-area">
        <div class="col listing-categories">
            {{ form_widget(form.listingCategory) }}
        </div>
    </div>
</div>
