h1.page-title {
    background-color:#58556b;
    color : #fff;
    padding: 20px;
    margin: 0px;
    font-size: 24px;
    font-weight: 300;
    text-align:center;
}

.reservation {
    padding: 3px 3px 3px;
    border: none;
    border-radius: 0;
    background-color: #fff;
}

.reservation .add-info {
    margin: 5px;
}

.reservation .btn-default {
    display: block;
    margin: 9px 0 9px;
    font-size: 21px;
    font-weight: 600;
    padding: 7px 14px;
    text-transform: none;
}

.reservation-form {
    padding: 2px 17px 2px;
    margin-top: 0;
    background-color: #d9dfe4;
}

.reservation-form .form-row {
    margin: 10px 0;
}

.date-selection {
    margin: 0;
}

.slider .flipster__nav {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    text-align: center;
    list-style: none outside none;
    font-size: 0;
    display: none;
}

.slider {
    overflow: hidden;
    max-width: 1180px;
    margin: 0 auto;
}
.testimonial-image:after {
    background: none;
}
.infoarea .infoarea-title {
    font-size: 30px;
}
.infoarea .infoarea-title,
.section .section-title,
.testimonial .testimonial-title,
.high-rank-title,
.section-title,
.listing-section .form-inner-large h2,
.listing-section .form-inner-small h2,
.listing-section .form-inner-medium h2,
.listing-section .form-inner h2,
.form-selection .form-inner-small h2,
.btn,
.btn-red,
.btn-blue,
.box-btn,
.btn-ico {
    text-transform: none;
}

/* common footer */

.page-footer {
    margin: 30px 50px;
}

h4.page-footer {
    color: #59595b; 
    font-family: Lato; 
    font-size: 17px; 
    text-align: center; 
    line-height: 25px; 
    margin: 7px 0px 20px; 
    font-weight: 400;
}

/* Blog */

a.blog-link {
    color: #59595b ;
    text-decoration: none;
}

.blog-date {
    color: #0E1E28; 
    font-family: Lato; 
    text-align:right ;
    font-size: 14px; 
    line-height: 25px; 
    margin-right:20px;
}

.blog-layout {
    float:left;
    width: 100%; 
    padding: 25px; 
    margin: 0 -10px 10px -10px; 
    border: none; 
    border-radius: 0; 
    background-color: #fff; 
    font-size: 16px; 
    text-align: justify;
}

.blog-header {
    margin-top: 30px;
}

.blog-paragraph {
    width: 100%;
    margin-bottom: 30px;
}

.blog-hightlight {
    width: 100%;
    text-align: center; 
    font-style: italic; 
    margin: 18px; 
    font-family: Lato; 
    font-size: 18px;
}

.blog-section {
    width: 100%;
    float: left; 
    padding: 10px 50px; 
    margin: 0;
        
}

h2.blog-section {
    color: #4bbccc ; 
    font-family: Lato; 
    font-size: 24px; 
    line-height: 25px; 
    text-align: left; 
    padding : 10px 0;
    margin: 10px 10px 50px 0px; 
    font-weight: 400; 
}

.blog-section-highlight {
    width: 100%; 
    float: left; 
    padding: 10px 50px; 
    margin: 0;
    background-color: #EFF4F8;
}

h2.blog-section-highlight {
    color: #F1574E ; 
    font-family: Lato; 
    font-size: 24px; 
    line-height: 25px; 
    text-align: left; 
    padding : 10px 0;
    margin: 10px 10px 50px 0px; 
    font-weight: 400;
}


.blog-socials {
    padding: 20px 50px; 
    text-align:center;
}

.blog-prev {
    float: left; 
    text-align:left; 
    margin:0px;
}

.blog-next {
    float: right; 
    text-align:right; 
    margin: 0;
    padding-right: 10px;
}

.blog-nav {
    width:100%; 
    margin-bottom: 20px;
}

a.blog-nav {
    padding: 10px 20px; 
    text-transform: unset;
}

/* Scientific Content */

.scientific-layout {
    float:left;
    width: 100%; 
    padding: 25px; 
    margin: 30px -10px 10px -10px; 
    border: none; 
    border-radius: 0; 
    background-color: #fff; 
    font-size: 16px; 
    text-align: justify;
}

h2.scientific-subtitle {
    color: #4BBCCC; 
    font-family: Lato; 
    font-size: 24px; 
    line-height: 25px;
    margin: 20px 10px 20px 0px; 
    padding:0;
    font-weight: 400;
}

.scientific-head {
    display: flex; 
    color: #0E1E28; 
    font-family: Lato; 
    font-size: 17px; 
    line-height: 25px;
}

.scientific-head-text {
    width: 100%;
}

.scientific-paragraph-spacer {
    margin: 20px 10px 20px 0px;
}

.scientific-highlight {
    border: 3px; 
    border-style: solid; 
    border-color: #EFF4F8; 
    font-family: Lato; 
    font-size: 17px; 
    color: #0E1E28 ; 
    text-align: center ; 
    padding: 18px 10% 12px 10%; 
    background-color: #fff; 
    margin: 15px 0 15px 0;
}


hr.scientific-separator {
    border: 0; 
    margin-right: 45%; 
    margin-left: 45%; 
    height: 1px; 
    background: #0E1E28;
}

/* catégories */

.scientific-categories {
    padding: 20px 50px; 
    margin: 30px 0px 30px; 
    background-color: #EFF4F8;
}

h3.scientific-categories {
    color: #59595b; 
    font-family: Lato; 
    font-size: 24px; 
    text-align: left; 
    line-height: 25px; 
    margin: 0px 0px 20px; 
    font-weight: 400;
}

.scientific-subcategory {
    justify-content: center; 
    align-items: center;
}

img.scientific-category-img {
    max-height: 160px; 
    padding: 20px 0px; 
    display: inline-block; 
    vertical-align: middle;
}
.scientific-subcategory-img {
    float: left;
    margin-right: 10px;
}
.scientific-subcategory-content {
    min-height: 160px;
}

a.scientific-subcategory {
    color: #0E1E28;
}

.scientific-subcategory-text {
    min-height: 150px; 
    padding: 10px;
}


h2.scientific-subcategory-blue {
    font-family: Lato; 
    font-size: 24px; 
    text-align: left; 
    line-height: 25px; 
    margin: 10px 0px; 
    font-weight: 400;
    color: #4BBCCC; 
}

h2.scientific-subcategory-red {
    font-family: Lato; 
    font-size: 24px; 
    text-align: left; 
    line-height: 25px; 
    margin: 10px 0px; 

    font-weight: 400;
    color: #F1574E; 
}

.scientific-subcategory-paragraph { 
    min-height: 88px; 
}

.scientific-category-btn {
    text-align:right; 
    margin:0px;
}

a.scientific-category-btn {
    padding: 10px 20px; 
    text-transform: unset;
}

/* listings top 3 */

.scientific-listings {
    padding: 20px 50px; 
    margin: 10px 0px; 
    max-height: auto;
}

h3.scientific-listings {
    color: #4BBCCC; 
    font-family: Lato; 
    font-size: 24px; 
    line-height: 25px; 
    margin: 7px 0px 20px; 
    font-weight: 400;
    padding : 0px;
}

.scientific-listing-section {
    display:flex; 
    padding: 25px 30px 0px 30px; 
    min-height:200px; 
}

a.scientific-listing {
    color: #fff;
    width: 33.33vw;
}

img.scientific-listing {
    width:215px;
}

a.scientific-listing-last {
    flex-direction: row-reverse;
}

.scientific-listing-title {
    color: #FFF; 
    font-family: Lato; 
    font-size: 14px; 
    font-weight: bold; 
    line-height: 19px; 
    height: 220px; 
    width: 213px;
    text-align: center; 
    background-color: #4BBCCC; 
    margin: 0 6px;
}


/* content */
.scientific-section-blue {
    padding: 20px 50px; 
    margin: 10px 0px;
}

h3.scientific-section-blue {
    color: #4BBCCC; 
    font-family: Lato; 
    font-size: 24px; 
    line-height: 25px; 
    margin: 0px 0px 10px; 
    font-weight: 400;
    padding:0;
}

h4.scientific-section {
    color: #59595b; 
    font-family: Lato; 
    font-size: 18px; 
    line-height: 25px; 
    margin: 20px 10px 20px 0px; 
    font-weight: 400;
}

a.scientific-section {
    color:#F1574E;
    text-decoration: underline;
}

.scientific-section-paragraph {
    width: 100%; 
    margin-bottom: 30px;
}

.scientific-section-red {
    padding: 20px 50px;
    margin: 30px 0px 10px;
    background-color: #EFF4F8;
}

h3.scientific-section-red {
    color: #F1574E; 
    font-family: Lato; 
    font-size: 24px; 
    line-height: 25px; 
    margin: 0px 0px 10px; 
    font-weight: 400;
    padding:0;
}


/* Header contact button */
a.contact {
    background-color: #4bbccc;
    color: #fff !important;
    border : 1px solid #4bbccc;
    border-radius: 6px;
    font-size: 14px !important;
	padding: 3px 12px !important;
	line-height: 24px !important;
}

a:hover.contact {
    background-color: #fff;
    color: #4bbccc !important;
    border : 1px solid #fff;
    border-radius: 6px;
    font-size: 14px !important;
	padding: 3px 12px !important;
	line-height: 24px !important;
}

/* NEW HOME */
/* section 1 */
.home-section1 {
    min-height: calc(100vh - 130px);
}

@media (min-width: 768px) {
    .home-section1{
        position: relative;
        background-size: cover;
        background-position: bottom right;
        background-repeat: no-repeat;
        background-image: url(https://www.labtoo.com/uploads/pictures/home/section1.png);
    }
}

.home-section1-content {
    position: relative;
    padding: 255px 30px 76px 80px;

}


.home-main-title {
    font-size: 32px; 
    font-weight : 800;
    color: #0E1E28 ; 
}

h1.home-h1-subtilte {
    font-size: 24px; 
    font-weight: 100;
    color: #0E1E28;
}


a.home-section1-buttons {
    color: #fff ;
    font-size: 18px ;
	line-height: 24px ;
}

@media (min-width: 768px) {
    a:hover.home-section1-buttons {
        color:#F1574E;
    }
}

.home-section1-button {
    background-color: #4bbccc;
    text-align : center;
    padding: 20px;
    margin: 10px 20%;
}


/* section 2 */
.home-section2 {
    min-height: calc(100vh - 400px);
    padding : 50px 50px 25px;
}

.home-section2-img {
    text-align :center;
        padding: 20px;     
}

img.home-section2-img {
    padding: 0px;
    width:180px;
    height:180px;
}
.home-section2-content {
    font-size: 24px !important;
    padding: 20px;   
}

/* section 3 */
.home-section3 {
    min-height: calc(100vh - 400px);
    padding : 25px 50px 50px;

}
.home-section3-content {
    font-size: 24px !important;
    text-align : right;
    padding: 20px;   
}
.home-section3-img {
    text-align :center;
    padding: 20px;   
}

img.home-section3-img {
    padding: 0px;
    width:180px;
    height:180px;
}

/* section 4 */
.home-section4 {
    min-height: calc(100vh - 400px);
    padding : 50px;
}
h2.home-section4-title {
    text-align : center;
    color: #0E1E28;
    font-size: 28px !important;
    font-weight:200;
    padding : 0px 50px 30px;

}
.home-section4-body {

    color: #0E1E28;
    font-size: 17px !important;
    padding : 0 0 50px;
}

.home-section4-buttons {
    text-align:center;
    font-size: 17px !important;
    padding: 80px 4%;
    color: #fff;
    margin: 5px;
    min-height:225px;
}


@media (min-width: 768px) {
    :hover.home-section4-buttons {
        background:#ffffff4f;
        color:#F1574E;
        margin: 5px;
        min-height:225px;
    }
}

a.home-section4-button {
    color: #fff;

}
a:hover.home-section4-button {
    color:#F1574E;
}

.home-section4-button1 {
    position: relative;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(https://www.labtoo.com/uploads/pictures/home/section4-1.jpg);
}

.home-section4-button2 {
    position: relative;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(https://www.labtoo.com/uploads/pictures/home/section4-2.jpg);
}

.home-section4-button3 {
    position: relative;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(https://www.labtoo.com/uploads/pictures/home/section4-3.jpg);
}

a.home-section4 {
    text-decoration: underline;
    background:  unset;
    font-size: 17px !important;
    color: #F1574E;
}

a:hover.home-section4 {
    text-decoration: underline;
    background:  unset;
    font-size: 17px !important;
    color: #c53f4e;
}
.home-section4-link {
    text-align: right;
}


/* section 5 */
.home-section5 {
    min-height: calc(100vh - 400px);
    padding : 50px;
}
h2.home-section5-title {
    text-align : center;
    color: #0E1E28;
    font-size: 28px !important;
    font-weight:200;
    padding : 0px 50px 30px;

}
.home-section5-body {
    color: #0E1E28;
    font-size: 17px !important;
    padding : 0 0 50px;

}
.home-section5-details {
    text-align:center;
    font-size: 18px !important;
    line-height:1.8;
    color: #F1574E;
    padding: 10px 80px;
}

.home-section5-bullet {
    font-size:26px;
}

/* section 6 */
.home-section6 {
    min-height: calc(100vh - 400px);
    padding : 50px;
    background:#c6ccd25c;
}
h2.home-section6-title {
    text-align : center;
    color: #0E1E28;
    font-size: 28px !important;
    font-weight:200;
    padding : 0px 50px 30px;
}
.home-section6-body {
    color: #0E1E28;
    font-size: 17px !important;
    padding : 0 0 50px;
}

/* section 7 */
.home-section7 {
    min-height: calc(100vh - 400px);
    padding : 50px;
}
h2.home-section7-title {
    text-align : center;
    color: #0E1E28;
    font-size: 28px !important;
    font-weight:200;
    padding : 0px 50px 30px;
}
.home-section7-body {
    color: #0E1E28;
    font-size: 17px !important;
    padding : 0 0 50px;
}
a.home-section7 {
    text-decoration: underline;
    background:  unset;
    font-size: 17px !important;
    color: #F1574E;
}

a:hover.home-section7 {
    text-decoration: underline;
    background:  unset;
    font-size: 17px !important;
    color: #c53f4e;
}
.home-section7-link {
    text-align: right;
}

/* section 8 */
.home-section8 {
    min-height: calc(100vh - 400px);
    padding : 50px;
}
h2.home-section8-title {
    text-align : center;
    color: #0E1E28;
    font-size: 28px !important;
    font-weight:200;
    padding : 0px 50px 30px;
}
.home-section8-body {
    color: #0E1E28;
    font-size: 17px !important;
    padding : 0 0 50px;
}
.home-section8-button {
    text-align: center;
}