h1.page-title {
    background-color:#58556b;
    color : #fff;
    padding: 20px;
    margin: 0px;
    font-size: 24px;
    font-weight: 300;
    text-align:center;
}

.reservation {
    padding: 3px 3px 3px;
    border: none;
    border-radius: 0;
    background-color: #fff;
}

.reservation .add-info {
    margin: 5px;
}

.reservation .btn-default {
    display: block;
    margin: 9px 0 9px;
    font-size: 21px;
    font-weight: 600;
    padding: 7px 14px;
    text-transform: none;
}

.reservation-form {
    padding: 2px 17px 2px;
    margin-top: 0;
    background-color: #d9dfe4;
}

.reservation-form .form-row {
    margin: 10px 0;
}

.date-selection {
    margin: 0;
}

.slider .flipster__nav {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    text-align: center;
    list-style: none outside none;
    font-size: 0;
    display: none;
}

.slider {
    overflow: hidden;
    max-width: 1180px;
    margin: 0 auto;
}
.testimonial-image:after {
    background: none;
}
.infoarea .infoarea-title {
    font-size: 30px;
}
.infoarea .infoarea-title,
.section .section-title,
.testimonial .testimonial-title,
.high-rank-title,
.section-title,
.listing-section .form-inner-large h2,
.listing-section .form-inner-small h2,
.listing-section .form-inner-medium h2,
.listing-section .form-inner h2,
.form-selection .form-inner-small h2,
.btn,
.btn-red,
.btn-blue,
.box-btn,
.btn-ico {
    text-transform: none;
}